[submodule "resources/scripts/gff3sort"]
	path = resources/scripts/gff3sort
	url = https://github.com/G-nom-Project/gff3sort.git
[submodule "antora-docs"]
	path = antora-docs
	url = https://github.com/G-nom-Project/antora-docs.git
